<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>787966398401-873qc8e7a09pl7r80rrq356a9a7mjb6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787966398401-873qc8e7a09pl7r80rrq356a9a7mjb6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCs7cLX9nH1UZwpOKwl3LUsuDz8cpvp-WE</string>
	<key>GCM_SENDER_ID</key>
	<string>787966398401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnauthfirebase.rnauthfirebase</string>
	<key>PROJECT_ID</key>
	<string>rnauthv2</string>
	<key>STORAGE_BUCKET</key>
	<string>rnauthv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787966398401:ios:dfacbca53528bf40</string>
	<key>DATABASE_URL</key>
	<string>https://rnauthv2.firebaseio.com</string>
</dict>
</plist>